.DS_Store
.env
*.xcuserdata/
DerivedData/
*.swp
*.swo
*~
.build/
Packages/
Package.resolved
xcuserdata/
*.xcworkspace
!AeolianNote.xcworkspace
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xccheckout
*.xcscmblueprint
timeline.xctimeline
playground.xcworkspace
node_modules/
.supabase/
